<!DOCTYPE html>
<html ng-app="test">
<head>
	<script src="/vendor/sails.io.js/dist/sails.io.js"></script>
	<script src="/vendor/angular/angular.js"></script>
	<script>
		var app = angular.module('test', []);
		app.controller('TestController', function($scope) {
		var self = this;

		// setup
		io.socket.post('/pet', {}, function(pet) {
			io.socket.post('/person', { pet: pet.id }, function(person) {
				$scope.$apply(function() {
					self.pet = pet;
					self.person = person;
				});
			});
		});

		this.causeSingle = function() {
			// send pet as its id, causes single afterUpdate
			io.socket.put('/person/' + self.person.id, { pet: self.pet.id }, function(data) {
				$scope.$apply(function() {
					self.person = data;
				});
			});
		};
		this.causeMultiple = function() {
			// send the populated pet data, causes multiple afterUpdates
			io.socket.put('/person/' + self.person.id, { pet: self.pet }, function(data) {
				$scope.$apply(function() {
					self.person = data;
				});
			});
		};
		});
	</script>
</head>
<body>
	<div ng-controller="TestController as test">
		<h2>Person</h2>
		<p>
			{{test.person}}
		</p>
		<h2>Update</h2>
		<div>
			<button ng-click="test.causeSingle()">Single</button>
			<button ng-click="test.causeMultiple()">Multiple</button>
		</div>
	</div>
</body>
</html>